html,
body {
  background-color: transparent !important;

  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* Alphas */

  --alpha-gene-different: 0.2;
  --alpha-gene-same: 1;

  /* Colors */

  --color-tooltip: white;
  --color-tooltip-border: black;

  --color-aquatic: #00b8ce;

  --color-beast: #ffb812;

  --color-bird: #ff8bbd;

  --color-bug: #ff5341;

  --color-dawn: #beceff;

  --color-dusk: #129092;

  --color-mech: #c6bdd4;

  --color-plant: #6cc000;

  --color-reptile: #904cc5;

  --color-golden: #ffe665;

  /* Grayscale */

  --color-black: #030b13;
  --color-gray-00: #07111c;
  --color-gray-01: #222f3d;
  --color-gray-03: #89949e;
  --color-white: white;
  --color-clear: #00000000;

  /* Sizes */

  --size-class-icon: 2.625rem;
  --size-stat-icon: 1rem;
  --size-part-icon: 1rem;
  --size-info-button: 0.625rem;
  --size-bullet: 0.25rem;

  /* Spacings */

  --spacing-xxs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-s: 0.5rem;
  --spacing-m: 0.75rem;
  --spacing-base: 1rem;
  --spacing-l: 1.5rem;

  /* Radii */

  --radius-m: 0.5rem;
  --radius-base: 1rem;

  /* Fonts */

  --font-size-xs: 0.75rem;
  --font-size-base: 1rem;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

.ellipsize-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.font-base-normal {
  color: var(--color-white);
  font-size: var(--font-size-base);
}

.font-xsmall-normal {
  color: var(--color-gray-03);
  font-size: var(--font-size-xs);
}

.font-xsmall-normal-white {
  color: var(--color-white);
  font-size: var(--font-size-xs);
}

.vertical-separator {
  background-color: var(--chakra-colors-grayscale-01);
  height: 2rem;
  width: 1px;
}

.horizontal-separator {
  background-color: var(--chakra-colors-grayscale-01);
  height: 1px;
  width: 100%;
}

/* Chrome, Safari, Opera */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 1em;
  border-left: 1px solid rgba(128, 128, 128, 0.15);
}

::-webkit-scrollbar-thumb {
  border: 0.3em solid rgba(0, 0, 0, 0);
  border-radius: 1em;

  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.3);
}

/* Fixes misterious white box at scrollbars intersection */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.fade-in {
  transition: opacity 0.25s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.25s ease;
}

@keyframes displayTooltip {
  0% {
    opacity: 0;
    transition: transform 0ms;
  }
  99% {
    opacity: 0;
    transition: transform 0ms;
  }
  100% {
    opacity: 1;
    transition: transform 250ms;
  }
}

.visx-tooltip {
  animation-name: "displayTooltip";
  animation-duration: 150ms;
  z-index: 1500;
}

.loading-spinner-overlay {
  position: fixed;
  left: var(--chakra-space-0);
  top: var(--chakra-space-0);
  width: 100%;
  height: 100%;
  background: var(--chakra-colors-blackAlpha-600);
  z-index: var(--chakra-zIndices-modal);
  background-color: var(--chakra-colors-bg-transparent-02);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

a.chakra-link:focus-visible {
  box-shadow: none;
}

#stripe-direct-payment-form #payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#stripe-direct-payment-form #payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */
#stripe-direct-payment-form button {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

#stripe-direct-payment-form button:hover {
  filter: contrast(115%);
}

#stripe-direct-payment-form button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
#stripe-direct-payment-form .spinner,
#stripe-direct-payment-form .spinner:before,
#stripe-direct-payment-form .spinner:after {
  border-radius: 50%;
}

#stripe-direct-payment-form .spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

#stripe-direct-payment-form .spinner:before,
#stripe-direct-payment-form .spinner:after {
  position: absolute;
  content: "";
}

#stripe-direct-payment-form .spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

#stripe-direct-payment-form .spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#stripe-direct-payment-form #submit {
  background-color: #1e7ae6;
  padding-top: 10px;
  padding-bottom: 10px;
}

#stripe-direct-payment-form #submit:hover {
  background-color: #1965bf;
}

#stripe-direct-payment-form #submit:disabled {
  opacity: 0.4;
}

#stripe-direct-payment-form #submit:disabled:hover {
  background-color: #1e7ae6;
}

#stripe-direct-payment-form .order-summary {
  margin-bottom: 20px;
}

#stripe-direct-payment-form .kyc {
  padding-top: 10px;
  padding-bottom: 20px;
}

#stripe-direct-payment-form .kyc button {
  background-color: #1e7ae6;
}

#stripe-direct-payment-form .kyc button:hover {
  background-color: #1965bf;
}

#stripe-direct-payment-form .kyc .info {
  color: rgb(105, 115, 134);
  font-size: 14px;
  line-height: 20px;
  padding-top: 5px;
  text-align: center;
}

.history-win {
  background-color: rgba(0, 128, 0, 0.5);
}

.history-lose {
  background-color: rgba(255, 0, 0, 0.5);
}

.history-bet {
  background-color: rgba(128, 128, 128, 0.5);
}

.chatInput {
  padding: 20px;
  background-color: #fff;
  color: #000;
}

.chatInput::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #000;
}

.chatInput::placeholder {
  color: #000;
}

.chat-room .chat-room-header {
  width: calc(100% - 12px);
  height: 64px;
  margin: 6px;
  flex-shrink: 0;
  border-radius: 6px;
  background: rgba(12, 31, 58, 0.33);
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.1) inset;
}

.chat-room {
  width: 100%;
  position: relative;
  background-color: #163767;
  box-shadow: -5px 4px 16px 0 rgba(0, 0, 0, 0.25);
}

.message-history {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.chat-drawer-content .chakra-modal__body {
  padding: 0;
}

.chat-drawer-content .chakra-modal__close-btn {
  z-index: 200;
}

.chat-room .chat-room-header h2 {
  display: inline-block;
  padding-top: 20px;
  padding-left: 25px;
  color: #d9d9d9;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.chat-room .chat-room-header .live-count {
  position: relative;
  display: inline-block;
  padding-left: 7px;
  padding-top: 24px;
  padding-right: 20px;
  color: rgb(217 217 217 / 50%);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.chars-count {
  display: inline-block;
  position: relative;
  left: -50px;
  font-size: 14px;
  color: rgb(129 150 180 / 60%);
}

.message-entry {
  width: 350px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.message-entry .content-wrapper {
  width: calc(350px - 85px);
  padding-left: 10px;
}

.message-entry .avatar {
  width: 37px;
  height: 37px;
  margin-top: 6px;
  border-radius: 50%;
  background-color: #00b8ce;
}

.message-entry .header .username {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.message-entry .date {
  display: inline-block;
  color: #8196b4;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  padding-left: 10px;
}

.message-entry .content {
  display: inline-block;
  max-width: 270px;
  padding: 10px;
  border-radius: 8px;
  background: #244678;
  color: #bfcbda;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.chat-controls {
  position: relative;
  width: 100%;
  background-color: #122d56;
}

.chat-controls input {
  display: inline-block;
  color: #8196b4;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  margin: 15px;
  border-radius: 5px;
  border: 1.5px solid #1967dc;
  background: rgba(12, 31, 58, 0.49);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
  width: calc(100% - 90px);
  padding: 15px 45px 15px 15px;
}

.chat-controls input::placeholder {
  color: #8196b4;
}

.chat-controls button.send-message-button {
  position: absolute;
  right: 18px;
  top: 22px;
  padding: 0;
  background-color: transparent;
}

.chat-controls button.send-message-button:hover {
  background-color: transparent;
}

.chat-controls button:hover .message-send-icon {
  opacity: 0.8;
}

.chat-controls .message-send-icon {
  display: inline-block;
}

.link-wrapper a {
  text-decoration: underline;
}

.tooltip-example {
  color: #222;
  background-color: #ffffff1a !important;
  border-radius: 30px !important;
  margin-left: -25px;
  margin-top: 2px;
  padding: 4px 8px 4px 4px !important;
  backdrop-filter: blur(5px);
}
.tooltip-example > .react-tooltip-arrow {
  background-color: transparent;
}
.tooltip-example::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px !important;
  padding: 1px;
  border-width: 1px;
  border-color: transparent !important;
  background: linear-gradient(
    261.88deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.alert-link {
  text-decoration: underline;
}

.linked-bank-account {
  position: relative;
}

.linked-bank-account .delete-bank-account-link {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffff29;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 11px;
  border-radius: 2px;
}

.linked-bank-account .delete-bank-account-link:hover {
  text-decoration: underline;
}

.linked-bank-account:hover {
  border: 1px solid #0de83d !important;
}

.linked-bank-account.selected-linked-bank-account {
  border: 1px solid #0de83d;
}

.redeem-request-statuses .chakra-menu__menu-button[disabled] {
  color: rgba(255, 255, 255, 0.92) !important;
}
