html,
body {
  background-color: transparent !important;

  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* Alphas */

  --alpha-gene-different: 0.2;
  --alpha-gene-same: 1;

  /* Grayscale */

  --color-black: #030b13;
  --color-gray-00: #07111c;
  --color-gray-01: #222f3d;
  --color-gray-03: #89949e;
  --color-white: white;
  --color-clear: #00000000;

  /* Sizes */

  --size-class-icon: 2.625rem;
  --size-stat-icon: 1rem;
  --size-part-icon: 1rem;
  --size-info-button: 0.625rem;
  --size-bullet: 0.25rem;

  /* Spacings */

  --spacing-xxs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-s: 0.5rem;
  --spacing-m: 0.75rem;
  --spacing-base: 1rem;
  --spacing-l: 1.5rem;

  /* Radii */

  --radius-m: 0.5rem;
  --radius-base: 1rem;

  /* Fonts */

  --font-size-xs: 0.75rem;
  --font-size-base: 1rem;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.ellipse-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Chrome, Safari, Opera */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 1em;
  border-left: 1px solid rgba(128, 128, 128, 0.15);
}

::-webkit-scrollbar-thumb {
  border: 0.3em solid rgba(0, 0, 0, 0);
  border-radius: 1em;

  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.3);
}

/* Fixes misterious white box at scrollbars intersection */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.game-container {
  height: calc(100vh - 225px) !important;
  width: 100%;
  background-color: #10243f;
}
